body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: #61dbfd;
}

#editor,
#preview {
  width: 95%;
  height: 90vh;
  background-color: white;
  overflow: scroll;
  padding: 5px;
}
